@model MovieSheduler.Presentation.Models.SheduleListViewModel

@{
    ViewBag.Title = "Расписание";
}

<h2>Расписание</h2>
<a class="btn btn-default" href="@Url.Action("Add")">Добавить</a>
<table>
    <thead>
    <tr>
        <th>
            Кинотеатр
        </th>
        <th>
            Фильм
        </th>
        <th>
            Сеансы
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var cinema in Model.Cinemas)
    {
        <tr>
            <td>@cinema.Name</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        foreach (var movie in cinema.Movies)
        {
            <tr>
                <td></td>
                <td>@movie.Name</td>
                <td>@String.Join(", ", movie.TimeList)</td>
                <td>Редактировать</td>
            </tr>
        }
    }
    </tbody>
</table>
